<%- include("partials/header.ejs") %>

<main class="container blog-page">

  <article class="blog-full">

    <h1 class="blog-full-title">
      <%= title %>
    </h1>

    <p class="blog-full-date">
      <%= new Date(created).toDateString() %>
    </p>

    <div class="blog-full-content">
      <%- content.replace(/\n/g, "<br>") %>
    </div>

    <div class="blog-full-actions">
      <a href="/" class="back-link">← Back to blogs</a>

      <a href="/blog/<%= blogId %>/edit" class="edit-btn">
        Edit
      </a>
    </div>

  </article>

</main>

<%- include("partials/footer.ejs") %>
